.container{
    gap: 20px;
    color: white;
    @media screen and (max-width:550px) {
      justify-content: center;
     }
    }
    .navigation{
      position: sticky;
      top: 0;
      z-index: 100;
      padding: 5px;
      background:rgba(33, 33, 33, 0.972);
    }
    .nav{
      display: flex;
      justify-content: center;
     }
   .backIcon{
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    width: 15px;
    cursor: pointer;
    @media screen and (max-width:550px) {
      width: 12px;
      margin-top: 7px;
     }
  }
   .likedSongsBlock{
    margin: 50px 100px 0px 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-height: 650px;
    height: 650px;
    overflow-y: auto;
    background: linear-gradient(rgb(33, 33, 33),rgb(19, 19, 19), rgb(19, 19, 19), rgb(19, 19, 19),rgb(19, 19, 19), rgb(19, 19, 19),rgb(19, 19, 19),rgb(19, 19, 19), rgb(33, 33, 33));
    &::-webkit-scrollbar{
      width: 2px;
    }
    &::-webkit-scrollbar-track{
      background: rgb(170, 170, 170);
    }
    &::-webkit-scrollbar-thumb{
      background-color: rgb(32, 32, 32);    
    }
    @media screen and (max-width:550px) {
      max-height: 100%;
      height: 100%;
      margin: 0px;
      margin-top: 20px;
      padding: 10px;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0px;
     }
}
   .likedSongBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;    
    @media screen and (max-width:550px) {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      padding: 5px;    
    }
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width:550px) {
    align-items: start;
  }
}
.likedSongBlock h3{
 @media screen and (max-width:550px) {
   font-size: 18px;
 }
}
.likedSongBlock h4{
  @media screen and (max-width:550px) {
    font-size: 15px;
  }
 }
.imgBlock{
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    opacity: 0.8;
  }
}
.img{
  width: 195px;
  user-select: none;
  pointer-events: none;
  @media screen and (max-width:550px) {
    width: 75px;
  }
}
.liked{
  @media screen and (max-width:550px) {
    display: flex;
    gap: 10px;
}
}
.edit{
  display: none;
  position: relative;
  top: 5px;
  width: 17px;
  rotate: 90deg;
  user-select: none;
  @media screen and (max-width:550px) {
   display: block;
   z-index: 1;
  }
}
.editBlock{
  z-index: 2;
  position: absolute;
 right: 0;
 border-radius: 5px;
 background: rgb(26, 26, 26);
 padding: 5px 15px;
 display: flex;
 flex-direction: column;
 align-items: start;
 gap: 5px;
 animation: showEdit 0.5s ease;
}
.editLine{
  display: flex;
  align-items: center;
  gap: 5px;
}
.backdrop{
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}
@keyframes showEdit {
  from{
    opacity: 0;
    margin-top: 5px;
  }
  to{
    opacity: 1;
  }
}