.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
}
.formSearch{
    display: flex;
    align-items: end;
    background: rgba(0, 0, 0, 0.475);
}
.searchInput{
    font-size: 35px;
    padding: 5px 10px 5px;
    outline: none;
    border: none;
    background: none;
    color: white;
    &::placeholder{
     font-size: 25px;
    }
    @media screen and (max-width:450px){
     font-size: 32px;
     width: 100%;
    }
}
.resultBlock{
    z-index: 2;
    position: absolute;
    top: 1;
    bottom: 0;
    width: 600px;
    overflow-y: scroll;
    max-height: 85vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &::-webkit-scrollbar{
        width: 3px;
    }
    &::-webkit-scrollbar-track{
        border-radius: 5px;
        background: rgb(170, 170, 170);
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 5px;
        background-color: rgb(75, 75, 75);    
    }
    @media screen and (max-width:550px) {
        position: static;
        width: 98%;
        gap: 0px;
    }
}

.result{
    margin: 10px;
    display: flex;
    gap: 20px;
}
.resultInfo{
 display: flex;
 flex-direction: column;
 max-width: 280px;
}
.songImg{
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s;
    @media screen and (max-width:450px) {
        width: 100px;
    }
}
.songImg:hover{
        opacity: 0.8;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .likedSongs{
     width: 50px;
     cursor: pointer;
     user-select: none;
     @media screen and (max-width:321px) {
        width: 30px;
     }
    }