* {
    -webkit-tap-highlight-color: transparent;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bg{
    width: max-content;
    height: max-content;
    background: rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(28, 28, 28);
    margin-top: 80px;
    @media (max-width:450px) {
        margin-top: 0;
    }
}
.block{
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width:450px){
     width: 350px;
    }
    @media screen and (max-width:391px){
     width: 320px;
    }
    @media screen and (max-width:321px) {
        width: 260px;
    }
}
.image{
    border-radius: 5px;
    position: relative;
    bottom: 100px;
    width: 400px;
    height: 350px;
    user-select: none;
    pointer-events: none;
    @media(max-width:450px) {
        width: 320px;
        height: 320px;
    }
    @media screen and (max-width:376px) {
        width: 300px;
        height: 300px;
    }
    @media screen and (max-width:321px) {
        width: 230px;
        height: 230px;
    }
}
.titleBlock{
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    position: relative;
    color: rgb(228, 228, 228);
    bottom: 50px;
}
.rangeBlock{
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(228, 228, 228);
    user-select: none;
}
.time{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.range{
    width: 400px;
    height: 8px;
    border-radius: 5px;
    appearance: none;
    overflow: hidden;
    outline: none;
    border: 0.5px solid;
    cursor: pointer;
    background: rgb(234, 234, 234);
    &:hover{
     accent-color: rgb(113, 113, 113);
    }
    @media screen and (max-width:450px){
        width: 350px;
       }
       @media screen and (max-width:391px){
        width: 320px;
       }
       @media screen and (max-width:321px) {
        width: 260px;
    }
}
.range::-webkit-slider-thumb{
    width: 1px;
    appearance: none;
    height: 8px;
    background: gray;
    box-shadow: -199px 0 0 199px gray;
    border-radius: 5px;
}
.controlsBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.controls{
    cursor: pointer;
    width: 70px;
    border-radius: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &:hover{
        background: rgba(0, 0, 0, 0.158);
    }
    &:active{
        background: rgba(43, 43, 43, 0.158);
    }

}
.controlsLike{
    position: absolute;
    margin-left: 350px;
    cursor: pointer;
    width: 70px;
    border-radius: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &:hover{
        background: rgba(0, 0, 0, 0.158);
    }
    &:active{
        background: rgba(43, 43, 43, 0.158);
    }
}
.controlsIconBack{
    pointer-events: none;
    user-select: none;
    height: 40px;
    border-radius: 50px;
    transition: 0.3s;
    -webkit-user-select: none;
}
.controlsIconPlay{
    width: 40px;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.3s;
    pointer-events: none;
}
.controlsIconPause{
    pointer-events: none;
    -webkit-user-select: none;
    width: 50px;
    user-select: none;
    transition: 0.3s;
}
.controlsIconNext{
    pointer-events: none;
    width: 40px;
    transform: rotate(180deg);
    user-select: none;
    -webkit-user-select: none;
}
.controlsIcon{
    pointer-events: none;
    -webkit-user-select: none;
    width: 40px;
    user-select: none;
}
.volumeBlock{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 margin-top: 10px;
}
.speakerIcon{
 width: 25px;
 height: 25px;
 user-select: none;
 pointer-events: none;
}
.speakerActive{
 display: flex;
 align-items: center;
}
.speakerVolumeDown{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-bottom: 2px;
    margin-left: 22px;
    font-size: 9px;
    font-weight: 600;
    user-select: none;
    color: gray;
    pointer-events: none;
}
.speakerVolumeUp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-bottom: 2px;
    margin-left: 26px;
    color: gray;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    pointer-events: none;
}
.speakerVolumeMax{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-bottom: 2px;
    margin-left: 31px;
    font-size: 15px;
    color: gray;
    user-select: none;
    font-weight: 600;
    pointer-events: none;

}

.volumeRange{
    height: 8px;
    width: 300px;
    border-radius: 5px;
    appearance: none;
    overflow: hidden;
    outline: none;
    border: 0.5px solid;
    cursor: pointer;
    @media screen and (max-width:450px){
        width: 250px;
    }
    @media screen and (max-width:391px){
    width: 220px;
}
@media screen and (max-width:321px) {
    width: 180px;
}
}
.volumeRange::-webkit-slider-thumb{
    width: 1px;
    appearance: none;
    height: 8px;
    background: gray;
    box-shadow: -185px 0 0 185px gray;
    border-radius: 5px;
}
.backIcon{
    position: absolute;
    width: 40px;
    margin: 10px;
    cursor: pointer;
    @media screen and (max-width:450px){
        position: static;
        width: 35px;
        margin: 10px;
}
    @media screen and (max-width:391px){
        margin: 5px;
}
}